body{
    height: 100vh;
}

.section-container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100%;
    width: 25%;
}

.timer{
    
    margin: 0 auto;
}

#youtubeDivSearch .ytlist .ytcredits{
    color:transparent;
}

