body{
    height: 100vh;
}

.section-container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100%;
    width: 25%;
}

.right-container{
    display: block;
    height: 100%;
    width: 25%;
}

.center-container{
    height:100%;
}

.timer{  
    position: relative;
    margin: auto;
    margin-top: 10px;
    
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}
.select-time {
    display: block;
    position: relative;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    padding: 5px 7px;
}

.select-time button{
    font-size: 25px;
    
    text-align: center;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;

    background-color: white;

    outline: 2px solid;
}

.select-time button:hover{
    font-size: 25px;
    text-align: center;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: cornflowerblue;;
}

.timer-buttons{
    position: relative;
    text-align: center;
    margin-top: 20px;
    display: none;
}

.reset-button{
    position: relative;
    
    border:none;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 27px;
    
    text-align: center;
    padding: 5px 7px;

    background-color: white;

    outline: 2px solid;
}

.reset-button:hover{
    background-color: cornflowerblue;
}

.stop-button{
    position: relative;  
    margin-left: 8px;
    margin-right: 8px;  
    border:none;
    border-radius: 5px;
    font-size: 27px;
    text-align: center;
    padding: 5px 7px;

    background-color: white;

    outline: 2px solid;
}

#youtubeDivSearch .ytlist .ytcredits{
    color:transparent;
    
}

.ytSearch{
    margin-left: 30px;
    background-color:cornflowerblue;
    border-radius: 10px;
    padding: 8px;
    z-index: 100;
    
}


#youtubeDivSearch{
    background-color:cornflowerblue;
    margin-left: 20px;
    margin-top: 20px;
}

.ytSearch{
    position:fixed;
    bottom:100px;
}

.room-img{
    display: block;
    position: relative;
    
    width: 500px;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
    object-fit: scale-down;
}

input[type="range"]{
    -webkit-appearance: none;
    transform: rotate(270deg);
    height: 20px;
    width: 50px;
}
.input-range{
    position: relative;
    top: -15px;
}

.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height:30px;
    margin-top: -7px;
    border-radius: 4px;
    background-color: #5cd5eb;
}
.input-range::-webkit-slider-runnable-track{
    height: 15px;
    background-color: #afafaf;
    outline: 2px black;
    border-radius: 4px;
}

.btn{

}

.audio-cube{
    margin-left:100px;
    margin-bottom: 10px;
    
}
.img-container{
    display:inline-block;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 5px 6px;
    
    border: 2px solid;
}

.img-container:hover{
    background-color: antiquewhite;
}

.mode-container{
    text-align: right;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
    margin-right: 100px; 
}

.search-result{
    border-radius: 8px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.search-result:hover{
    background-color:aliceblue;
    outline: 1px solid;

}

.search-bar{
    padding: 10px;
    margin-top: 10px;
}
