body{
    height: 100vh;
}

.section-container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.left-container{
    display: block;
    flex-direction: column;
    text-align: left;
    height: 100%;
    width: 25%;
}

.right-container{
    display: block;
    height: 100%;
    width: 25%;
    text-align: right;
}

.center-container{
    height:100%;
}

.timer{  
    position: relative;
    margin: auto;
    margin-top: 10px;
    
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}
.select-time {
    display: block;
    position: relative;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    padding: 5px 7px;
}

.select-time button{
    font-size: 25px;
    
    text-align: center;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;

    background-color: white;

    outline: 2px solid;
}

.select-time button:hover{
    font-size: 25px;
    text-align: center;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: cornflowerblue;;
}

.timer-buttons{
    position: relative;
    text-align: center;
    margin-top: 20px;
    display: none;
}

.reset-button{
    position: relative;
    
    border:none;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 27px;
    
    text-align: center;
    padding: 5px 7px;

  

    outline: 2px solid;
}

.reset-button:hover{
    background-color:aliceblue;
}

.stop-button{
    position: relative;  
    margin-left: 8px;
    margin-right: 8px;  
    border:none;
    border-radius: 5px;
    font-size: 27px;
    text-align: center;
    padding: 5px 7px;

    background-color:cornflowerblue;

    outline: 2px solid;
}

#youtubeDivSearch .ytlist .ytcredits{
    color:transparent;
    
}

.ytSearch{
    margin-left: 80px;
    bottom: 15%;

    position: absolute;
    
    font-family: sans-serif;
    border-radius: 10px;
    padding: 3px;
    z-index: 100;
    display: inline-block;
    
    outline: 2px solid;
    cursor: pointer;
}

#youtubeDivSearch{
    background-color:white;
    padding: 20px;
    width: 400px;
}

.room-img{
    display: block;
    position: relative;
    
    width: 500px;
    margin-left: auto;
    margin-top: 80px;
    margin-right: auto;
    object-fit: scale-down;
}

input[type="range"]{
    -webkit-appearance: none;
    transform: rotate(270deg);
    height: 20px;
    width: 50px;
}
.input-range{
    position: relative;
    top: -15px;
}

.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height:30px;
    margin-top: -7px;
    border-radius: 10px;
    background-color:white;
    outline: 2px solid;
    z-index: 100;
}
.input-range::-webkit-slider-runnable-track{
    height: 15px;
    background-color: cornflowerblue;
    border-radius: 10px;
    
    z-index: 0;
}

.audio-cube{
    
    margin-bottom: 10px;
    
}
.img-container{
    display:inline-block;
    
    border-radius: 15px;
    padding: 5px 6px;
    
    outline: 2px solid;

    box-shadow: 0px 2px 0px 2px black;
    transition: 0.2s;
}

.shadow{
    box-shadow: 0px 2px 0px 2px black;
    transition: 0.2s;
}
.shadow:hover{
    transform: translateY(-2px);
}

.img-container:hover{
    
    transform: translateY(-2px);
}

.mode-container{
    text-align: right;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
    margin-right: 80px; 
    display:inline-block;
}

.search-result{
    border-radius: 8px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.search-result:hover{
    background-color:aliceblue;
    outline: 1px solid;

}

.search-bar{
    padding: 10px;
    
}

.checkListDropdown{
    display: inline-block;
   
    padding: 4px;
    border-radius: 10px;
    outline: 2px solid;
    font-family: sans-serif;
    position: relative;
    cursor: pointer;
    top: 50%;
    margin-bottom: 15px;
    margin-left: auto;
    text-align: right;
    box-shadow: 0px 2px 0px 2px black;
}

.checklist {
	position: relative;
	font-family: sans-serif;
    overflow:scroll;
    height:350px;
    border: 1px solid;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    

/* 	border-top: 50px solid #03a2f4; */
}

.task-item {
    display: flex;
    align-items: center;
    
    font-size: 18px;
    padding: 10px;
}

.taskLabel {
    margin-left: 10px;
}



#task-form{
    margin-top: 10px;
}
  
:checked + label {
    text-decoration: line-through;
    color: green;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

input[type="text"] {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: left;
}
input[type="date"]{
    font-size:15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.statsDropdown{
    display: inline-block;
    
    padding: 4px;
    border-radius: 10px;
    outline: 2px solid;
    font-family: sans-serif;
    position: relative;
    cursor: pointer;
    top: 60%;
    
    margin-left: auto;
    text-align: right;
}

#timeChart{
    padding: 20px;
    
}

input[type="submit"]{
    appearance: none;
    border-style: none;
    background-color: cornflowerblue;
    padding: 7px;
    border-radius: 8px;
    outline: 1px solid;
}

button{
    cursor: pointer;
}

#timer-bar{
    margin-top: 15px;
    display: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 250px;
    transition: 0.2s;
}

#break-bar{
    display:none;
    margin-top: 15px;
    
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 250px;
}
#break-bar.closed{
    display: none;
}

#breakTimer-display{
    outline: 2px solid;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    position: relative;
    margin: auto;
    margin-top: 10px;
    
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;

    display: none;
}

#studyTimerContainer.closed{
    display: none;
}

#toggleBreakTimer{
    margin-top: 20px;
    display: inline-block;
}

details > summary {
    list-style: none;
  }
details > summary::-webkit-details-marker {
    display: none;
}
.show{display: block;}

#statsDropdown-content{
    position: absolute;
    bottom: 70px;
    right: 0px;
    width: 200px;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0,0,0,.15);
    padding: 8px;
    text-align: center;
    display: flex;
    
}
#statsDropdown-content.closed{
    display:none;
}

#toggleStatsDropdown{
    
}

#checkListDropdown-content{
    position: absolute;
    bottom: 70px;
    right: 0px;
    width: 400px;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0,0,0,.15);
    padding: 8px;
    display:inline-block;
    
}
#checkListDropdown-content.closed{
    display:none;
}

#toolContainer{
    display:flex;
    flex-direction: column;
    position: absolute;
    bottom: 80px;
    right: 80px;
}

#breakTimerContainer.closed{
    display:none;
}

#breakTimerContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#select-time.closed{
    display: none;
}

#breakToggle{
    
}
#musicPlayer{
    background-color: white;
    position: absolute;
    outline: 2px solid;
    border-radius: 10px;
    bottom: 75px;
    display: inline-block;
    
}
#musicPlayer.closed{
    display:none;
}

#youtubeDivSearchPlayer{
    border-radius: 10px;
}

#ambient-container{
    top: 50%;
    display:block;
    position: relative;
    transform: translateY(-50%);
    margin-left:80px;
}

.addTPLBtn{
    background-color: cornflowerblue;
    border: none;
    color: white;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 100%;
    padding-top: 3px;
    padding-bottom: 2px;
    transition: 0.1s;
}

.addTPLBtn:hover{
    background-color: rgb(78, 131, 231);
}

#form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#time-allotted-input{
    width: 150px;
}

#task-input{
    width:350px;
}
#time-input{
    margin-top:10px;
    display:flex;
}

#time-allotted-form{
    margin-top: 10px;
    
}

#date-input{
    margin-top:10px;
}

#submit-task-btn{
    
    margin-top: 10px;
    margin-left:0;
    margin-right:auto;
    padding-left: 15px;
    padding-right: 15px;
}

#breakIndicator{
    font-family: sans-serif;
    font-size: 20px;
}
